.nodeIcon{
    background-color: #64B42C;
    border: 0.2rem solid #28292D;
    padding: 1.2rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.heightadjust{
    padding: 0.5rem;
}

.tower{
    height: 8rem !important;
    width: 3rem !important;
}

.nodename{
    color: #C9C9C9;
    text-align: center;
}

.resize{
    height: 3rem !important;
    width: 3rem !important;
}

p{
    font-size: large;
    font-size: large;
}