@import 'bulma/css/bulma.css';

.nodeIcon{
    /* background-color: #EBEDEF; */
    height: auto;
    width: auto;
    /* border-radius: 10%;
    box-shadow: 5px 5px 5px #C9C9C9; */
}

.heightadjust{
    padding: 0.5rem;
}

.tower{
    height: 6rem !important;
    width: 6rem !important;
    margin-top: 2rem;
}

.towername{
    height: auto !important;
    width: 6rem !important;
    margin-top: 1rem;
}

.nodename{
    color: #C9C9C9;
    text-align: center;
}

.resize{
    height: 8rem !important;
    width: 9rem !important;
}

p{
    font-size: large;
    font-size: large;
}