@import 'bulma/css/bulma.css';

.nodeIcon{
    padding: 0;
    margin: 0;
}

.heightadjust{
    padding: 0;
    margin: 0;
}

.tower{
    height: 6rem !important;
    width: 6rem !important;
    margin-top: 2rem;
}

.towername{
    height: auto !important;
    width: 6rem !important;
    margin-top: 1rem;
}

.nodename{
    text-align: center;
}

.resize{
    height: 10rem !important;
    width: 10rem !important;
}

p{
    font-size: large;
    font-size: large;
}